@keyframes identifier {
   50% {background-image:linear-gradient(#d4a0a7,#5da271)}
   100% {background-image:linear-gradient(#5da271,#d4a0a7)}
    
}


body {
    background-image: linear-gradient( to right, #e3e3e3, #d4a0a7);
    height:auto;
    margin: auto;
    line-height: 1.6;
    background-color: transparent;
}

.Introduction {
    animation-name: identifier; 
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    background-image: linear-gradient(#d4a0a7, #5da271);
    background-color: transparent;
    font-size: 20px;
    padding: 200px;
    position: sticky;
    margin: auto;
    color: whitesmoke;
    text-align: center;
    text-orientation: upright;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

.Name:hover,
.Name:focus-visible {
    color: #d26cb0
}

.Sub-Titles {
    padding: 10px;
    text-align: center;
    border: 1px white solid;
    background-color: #8f3928;
    color: whitesmoke;

}


.Sub-Sub-Titles {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT';
  color: #8f3928;
  text-orientation: upright;
  padding: none;
  text-align: left;
  border-inline-start: solid;
  border-width: 10px;
  border-color: #898989;
  

}

footer {
    background-color: #d4a0a7;
    text-align: center;
    padding: 5px;
}

p {
    color: #5da271;
}
  

h2 {
    color:white solid;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

header{ 
    position: sticky;
    background-color: red;
    background-color: transparent;
    margin: -10px;
}

img {
    max-height: 50px;
    display: inline-block;
    border: none;
    margin-right: 10px;
    background-color: transparent;
}

#Linked-In {
    background-color: transparent;
    border-color: transparent;
}

#Resume {
    background-color: transparent;
    border-color: transparent;
}


.Cyber{
    background-color: white;
    border-style:dashed;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
    position: sticky;
    margin-top: 50px;
    margin-right: 60px;
    margin-bottom: 40px;
}

.Public {
    background-color: white;
    border-style:dashed;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
    position: sticky;
    margin-right: 60px;
    margin-bottom: 40px;
}

.Card {
    background-color: white;
    border-style:dashed;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
    position: sticky;
    margin-right: 60px;
    margin-bottom: 40px;
}

.Philo {
    background-color: white;
    border-style:dashed;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
    position: sticky;
    margin-right: 60px;
    margin-bottom: 100px;
}
